body {
  padding: 100px;
  background: linear-gradient(to bottom, #4B0082, #800080);  /* Gradient background */
  height: auto;
  color: white;
  font-family: 'Cascadia Mono', monospace;

}

.uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Allow the height to expand based on content */
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
  padding-top: 130px;
  padding-bottom: 20px; /* Optionally add some space at the bottom */
  
}

.uploadBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.uploadArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 100px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 70px;
}

button:hover {
  background-color: white;
  color: #dd0c7e;
}
h1{
  font-family: 'Cascadia Mono', monospace;
}
