.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: var(--spacing-2xl);
}

.title {
  font-size: var(--font-size-2xl);
  text-align: center;
  max-width: 80%;
  line-height: 1.4;
}

/* Add these styles to your existing Upload.module.css */

.paymentPopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 165, 228, 0.421);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.paymentPopup {
  background: linear-gradient(
    to bottom,
    #4b0082,
    #800080
  );
  border-radius: 8px;
  height: 60%;
  max-height: auto;
  width: 90%;
  max-width: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.352);
  overflow: hidden;
}

.paymentPopupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #4b0082;
  border-bottom: 1px solid #4b0082;
}

.paymentPopupHeader h2 {
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: var(--accent);
}

/* .closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  padding: 0;
  line-height: 1;
} */

.paymentPopupBody {
  padding: 20px;
}
.pricingCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricingCard p{
  margin: 0 40px 0 40px;
  color: #ffffff;
}

.paymentPopupBody p {
  margin-bottom: 20px;
  color: #555;
  align-items: center;
  
}

.paymentRequired {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-top: 20px;
}

.paymentRequired p {
  margin-bottom: 16px;
  color: #555;
}

.showPaymentButton {
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.showPaymentButton:hover {
  background-color: #0052a3;
}


.paymentPopupFooter {
  padding: 16px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-end;
}

.proceedToPaymentButton {
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proceedToPaymentButton:hover {
  background-color: #0052a3;
}

